
@{ ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/layout.cshtml"; }

@model List<Website1.Models.products>


<div class="header">
    <div class="container">

        <div class="row">
            <div class="col-2">
                <h1>RED STORE<br> A New Style!</h1>
                <p>Cung cấp các sản phẩm giày thể thao và các đồ liên quan đến thể thao <br> Chất lượng đi đôi với giá tiền</p>
                <a href="~/SanPham/DanhSachSanPham" class="btn">Explore Now &#8594;</a>
            </div>
            <div class="col-2">
                <img src="~/assets/images/image1.png">
            </div>
        </div>
    </div>
</div>
<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3"><img src="~/assets/images/category-1.jpg" alt=""></div>
            <div class="col-3"><img src="~/assets/images/category-2.jpg" alt=""></div>
            <div class="col-3"><img src="~/assets/images/category-3.jpg" alt=""></div>
        </div>
    </div>
</div>


<!-------- featured products ---------->
<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        @foreach (var item in Model.Take(4))
        {
<div class="col-4">
    <a href="~/SanPham/ChiTietSanPham?id=@item.id"><img src="~/assets/images/@item.pro_avatar" alt=""></a>
    <a href="~/SanPham/ChiTietSanPham?id=@item.id"><h4>@item.pro_name</h4></a>
    <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
    </div>
    <p>@string.Format("{0:#,0}", item.pro_price) vnđ</p>
</div>}

    </div>
    <h2 class="title">Latest Products</h2>

    <div class="row">
        @foreach (var item in Model.OrderByDescending(n => n.updated_at).Take(8))
        {
<div class="col-4">
    <a href="~/SanPham/ChiTietSanPham?id=@item.id"><img src="~/assets/images/@item.pro_avatar" alt=""></a>
    <a href="~/SanPham/ChiTietSanPham?id=@item.id"><h4>@item.pro_name</h4></a>
    <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
    </div>
    <p>@string.Format("{0:#,0}", item.pro_price) vnđ</p>
</div>}
    </div>
</div>

<!-------- offer ---------->
<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="~/assets/images/@Model.OrderByDescending(n => n.updated_at).ElementAt(0).pro_avatar" class="offer-img">
            </div>
            <div class="col-2">
                <p>Sản phẩm mới nhất</p>
                <h1>@Model.OrderByDescending(n => n.updated_at).ElementAt(0).pro_name</h1>
                <small><i class="fa fa-quote-left"></i>@Model.OrderByDescending(n => n.updated_at).ElementAt(0).pro_description</small>
                <div class="form-group col-md">
                    <a href="~/SanPham/ChiTietSanPham?id=@Model.OrderByDescending(n => n.updated_at).ElementAt(0).id" id="addtocart" class="btn  btn-primary">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="text" h>Thêm vào giỏ hàng</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

<!-------- testimonial ---------->
<div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Shop cung cấp giày đẹp và chất lượng. Giá cả hợp lý. Tôi đã mua ở đây nhiều lần</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="~/assets/images/user-1.png" alt="">
                <h3>Sean Parker</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Tôi đã mua hàng tại shop. Giày rất bền không bị bung chỉ, đặc biệt đi rất nhẹ và êm</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="~/assets/images/user-2.png" alt="">
                <h3>Mike Smith</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Các mẫu giày rất hợp với ý thích của tôi</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="~/assets/images/user-3.png" alt="">
                <h3>Mabel Joe</h3>
            </div>
        </div>
    </div>
</div>

<!---------- brands ------------>
<div class="brands">
    <div class="row">
        <div class="col-5">
            <img src="~/assets/images/logo-godrej.png" alt="">
        </div>
        <div class="col-5">
            <img src="~/assets/images/logo-oppo.png" alt="">
        </div>
        <div class="col-5">
            <img src="~/assets/images/logo-coca-cola.png" alt="">
        </div>
        <div class="col-5">
            <img src="~/assets/images/logo-paypal.png" alt="">
        </div>
        <div class="col-5">
            <img src="~/assets/images/logo-philips.png" alt="">
        </div>
    </div>
</div>